* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#card_container .card {
  margin: 20px;
}
#card_container .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}
.btn a {
  color: white;
  text-decoration: none;
}
.btn a:hover {
  color: white;
}
